@import '../../../assets/styles/mixims';

.container {
  width: 100%;
  margin: 10px auto;
  @include flexbox(row, nowrap, space-around, center);

  &__currency {
    width: 40%;
    @include flexbox(row, nowrap, space-around, center);

  }

}

.mat-raised-button {
  margin-bottom: 10px;
  align-self: center;
}

h2 {
  width: 100%;
  text-align: center;
}

.filter {
  width: 100%;
  margin: 10px auto;
  @include flexbox(row, nowrap, space-around, center);

  .date-from {
    width: 40%;
    @include flexbox(column, nowrap, center, center);

  }

  .date-to {
    width: 40%;
    @include flexbox(column, nowrap, center, center);

  }
}

@media screen and (max-width:978px) {
  .container {
    &__currency {
      width: 40%;
      @include flexbox(column, nowrap, space-around, center);
    }
  }
}

@media screen and (max-width:578px) {
  .container {
    @include flexbox(column, nowrap, space-around, center);
  }

  .filter {
    @include flexbox(column, nowrap, space-around, center);
  }
}
